* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: sans-serif;
}

.maniDiv {
  position: relative;
  width: 100%;
  height: 100vh;
  background: #3498db;
}

.centerDiv {
  color: white;
  position: absolute;
  padding: 2rem;
  top: 15%;
  left: 20%;
  text-align: center;
  border: 1rem solid rgb(21, 21, 97);
  border-radius: 0.5rem;
}

#btn {
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 8px 35px;
  border-radius: 20px;
}

textarea::placeholder {
  padding: 0.5rem;
}

@media screen and (max-width: 1035px) {
  .centerDiv {
    /* background-color: red; */
    padding: 1rem;
    left: 10%;
  }
}

@media screen and (max-width: 900px) {
  .centerDiv {
    /* background-color: red; */
    /* padding: 0rem; */
    top: 15%;
    left: 5%;
  }
}

@media screen and (max-width: 800px) {
  textarea {
    width: 600px;
  }
}

@media screen and (max-width: 700px) {
  .maniDiv h1 {
    font-size: 1.6rem;
  }
  textarea {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .centerDiv {
    border: 0.5rem solid rgb(21, 21, 97);
  }
  textarea {
    /* background-color: red; */
    width: 500px;
  }
}

@media screen and (max-width: 550px) {
  .centerDiv {
    border: 0.5rem solid rgb(21, 21, 97);
  }
  textarea {
    /* background-color: red; */
    width: 400px;
    height: 100px;
  }
}

@media screen and (max-width: 455px) {
  .maniDiv h1 {
    font-size: 1.3rem;
  }
  .maniDiv h2 {
    font-size: 0.9rem;
  }
  textarea {
    width: 345px;
  }
  #btn {
    padding: 5px 25px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 415px) {
  .centerDiv {
    border: 0.3rem solid rgb(21, 21, 97);
  }
  .maniDiv h1 {
    font-size: 1.3rem;
  }
  .maniDiv h2 {
    font-size: 0.8rem;
  }
  textarea {
    width: 300px;
    height: 60px;
  }
  textarea::placeholder {
    font-size: 10px;
  }
  #btn {
    font-size: 10px;
    padding: 5px 20px;
    border-radius: 20px;
  }
}

@media screen and (max-width: 385px) {
  .centerDiv {
    padding: 0.5rem;
  }
  .maniDiv h1 {
    font-size: 1.1rem;
  }
  .maniDiv h2 {
    font-size: 0.8rem;
  }
  textarea {
    width: 295px;
    height: 50px;
  }
  textarea::placeholder {
    font-size: 10px;
  }
  #btn {
    font-size: 11px;
    padding: 5px 20px;
    border-radius: 20px;
  }
}
